* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #8c2de2;
    --secondary-color: white;
}

.nav-bar{
    position: fixed;
    background-color: white;
    top: 0;
    left: 300px;
    width: calc(100% - 600px);
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Links styles */
.navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-links a {
    color: var(--mainColor);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.searchbar {
    display: flex;

}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;    
    right: 20px;
    gap: 20px;
}

.navbar-icons i{
    font-size: 24px;
    color: var(--mainColor);
}